---
http_interactions:
- request:
    method: get
    uri: https://api.do-it.org/v1/opportunities?lat=51.567526&lng=-0.182308&miles=2%20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data": {"items": [{"address_1": null, "city": null, "created": "2015-08-03T12:39:10.832204+00:00",
        "description": "Working for a cancer awareness charity in one of their shops.
        This charity shop is a retail shop that covers a large range of fashionable
        items from clothing to accessories.", "for_recruiter": {"contact_name": "Muno
        - rani il-lankkaren", "created": "2015-08-13T13:11:35.631802+00:00", "email":
        "rameshperinparaja@gmail.com", "id": "98d72e0d-8333-42c4-a234-a8a088c31c64",
        "logo": [], "name": "North west london volunteering", "phone": "020 3 468
        2282", "rating": "3.00", "slug": "north-west-london-volunteering"}, "for_recruiter_id":
        "98d72e0d-8333-42c4-a234-a8a088c31c64", "id": "0cbb0890-3f04-44c2-aac8-393775467b47",
        "interests": [{"children": [], "created": "2014-10-26T17:24:25.565446+00:00",
        "id": "7fd92e8e-c71a-40a3-a806-bcef228863b9", "name": "Marketing", "parent_id":
        "a0be8981-33c6-46df-a3fe-2100a575695f", "slug": "marketing", "updated": "2014-10-26T17:24:25.565466+00:00"}],
        "is_new": false, "lat": 51.57228, "lng": -0.19404, "location": {"admin_1":
        "England", "admin_2": "Greater London", "admin_3": "Barnet", "admin_4": null,
        "id": "95e65e3c-0485-4180-99e9-934a6a9b2ac8", "lat": 51.57228, "lng": -0.19404,
        "name": "Golders Green Underground Station"}, "location_id": "95e65e3c-0485-4180-99e9-934a6a9b2ac8",
        "location_name": "Golders Green Underground Station", "location_type": "RL",
        "micro_availability": [], "owner_recruiter": {"contact_name": "Muno - rani
        il-lankkaren", "created": "2015-08-13T13:11:35.631802+00:00", "email": "rameshperinparaja@gmail.com",
        "id": "98d72e0d-8333-42c4-a234-a8a088c31c64", "logo": [], "name": "North west
        london volunteering", "phone": "020 3 468 2282", "rating": "3.00", "slug":
        "north-west-london-volunteering"}, "owner_recruiter_id": "98d72e0d-8333-42c4-a234-a8a088c31c64",
        "photo": [], "postcode": null, "rating": "0.00", "specific_end_date": "2016-05-19T12:32:43.484000+00:00",
        "specific_start_date": "2015-11-13T14:25:56.735000+00:00", "status": "live",
        "title": "Golders green charity shop- Marie curie cancer trust", "updated":
        "2015-11-13T14:28:05.973761+00:00", "working_from_home": false}, {"address_1":
        "75 Hampstead High Street", "city": "London", "created": "2015-11-24T16:05:43.098602+00:00",
        "description": "Are you looking to gain new skills to add onto your CV? Are
        you looking to make new friends and build your confidence? Then why not volunteer
        in a Cancer Research UK shop today? \n\nThere are plenty of different roles
        available where we can make use of your skills and help you develop new ones.
        For those looking to develop their skills in customer service why not come
        and help us on the shop floor which may involve serving customers on the till.
        We have also got opportunities available for those with an interest in literature
        to help sort through our donated books and we\u2019re also looking for those
        looking to develop their team working skills to help us process our stock
        in the back. \n\nSo why not apply today?", "for_recruiter": {"contact_name":
        "James", "created": "2015-07-28T10:14:03.183059+00:00", "email": "shopvolunteering@cancer.org.uk",
        "id": "86e53f93-584b-4f55-ad31-cfca067e5641", "logo": [{"absolute_url": "https://s3-eu-west-1.amazonaws.com/media.do-it.org/orgs/logos/logo-
        RMP 2012.125x125.png", "height": 125, "width": 125}, {"absolute_url": "https://s3-eu-west-1.amazonaws.com/media.do-it.org/orgs/logos/logo-
        RMP 2012.109x109.png", "height": 109, "width": 109}, {"absolute_url": "https://s3-eu-west-1.amazonaws.com/media.do-it.org/orgs/logos/logo-
        RMP 2012.76x76.png", "height": 76, "width": 76}, {"absolute_url": "https://s3-eu-west-1.amazonaws.com/media.do-it.org/orgs/logos/logo-
        RMP 2012.50x50.png", "height": 50, "width": 50}], "name": "Cancer Research
        Charity Shops", "phone": "[...]
- request:
    method: get
    uri: https://api.do-it.org/v1/opportunities?lat=51.567526&lng=-0.182308&miles=2%20&page=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data": {"items": [{"address_1": "48 High Road", "city": "London",
        "created": "2015-10-25T11:51:43.247495+00:00", "description": "Working[...]
[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/gen_204?cad=host:127.0.0.1:35522,v:23,r:1,mt:m,c:51.567508,-0.182308,sp:0.08195x0.34126,size:994x384,relsize:0.49,token:32ohyyt4f4,src:apiv3,ts:yogcha&ev=api_viewport&target=api
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - image/gif
      Alternate-Protocol:
      - 443:quic,p=1
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 03 Jan 2016 15:12:39 GMT
- request:
    method: get
    uri: https://csi.gstatic.com/csi?action=apiboot2&e=10_1_0,10_2_0,11_1_0,11_4_0,11_5_0,11_7_0,11_8_0,11_9_0,11_10_0,11_11_0,11_12_0,11_13_0,11_14_U,11_15_0,11_16_0&libraries=places&rt=firstmap.42&s=mapsapi3&v=2&v3v=23.3
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 204
      message: No Content
    headers:
      Last-Modified:
      - Wed, 21 Jan 2004 19:51:30 GMT
      Content-Type:
      - image/gif
      Alternate-Protocol:
      - 443:quic,p=1
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 03 Jan 2016 15:12:39 GMT
- request:
    method: get
    uri: https://csi.gstatic.com/csi?action=map2&e=10_1_0,10_2_0,11_1_0,11_4_0,11_5_0,11_7_0,11_8_0,11_9_0,11_10_0,11_11_0,11_12_0,11_13_0,11_14_U,11_15_0,11_16_0&firstmap=true&hadviewport=true&hdpi=false&libraries=places&mob=true&rt=visreq.182&s=mapsapi3&size=994x384&staticmap=false&v=2&v3v=23.3
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 204
      message: No Content
    headers:
      Last-Modified:
      - Wed, 21 Jan 2004 19:51:30 GMT
      Content-Type:
      - image/gif
      Alternate-Protocol:
      - 443:quic,p=1
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 03 Jan 2016 15:12:39 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/js/AuthenticationService.Authenticate?1shttp://127.0.0.1:35522/&callback=_xdc_._dut87h&token=20867
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=UTF-8
      Content-Disposition:
      - attachment
      Alternate-Protocol:
      - 443:quic,p=1
    body:
      encoding: UTF-8
      string: "/**/_xdc_._dut87h && _xdc_._dut87h( [1,null,0] )"
  recorded_at: Sun, 03 Jan 2016 15:12:39 GMT
- request:
    method: get
    uri: https://csi.gstatic.com/csi?action=map2&e=10_1_0,10_2_0,11_1_0,11_4_0,11_5_0,11_7_0,11_8_0,11_9_0,11_10_0,11_11_0,11_12_0,11_13_0,11_14_U,11_15_0,11_16_0&firstmap=true&hadviewport=true&hdpi=false&libraries=places&mob=true&rt=visres.228&s=mapsapi3&size=994x384&staticmap=false&v=2&v3v=23.3
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 204
      message: No Content
    headers:
      Last-Modified:
      - Wed, 21 Jan 2004 19:51:30 GMT
      Content-Type:
      - image/gif
      Alternate-Protocol:
      - 443:quic,p=1
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 03 Jan 2016 15:12:40 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/gen_204?cad=host:127.0.0.1:35522,v:23,r:1,t:501,smni:2,src:apiv3,token:32ohyyt4f4,ts:yogd4a&ev=api_maprft&target=api
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - image/gif
      Alternate-Protocol:
      - 443:quic,p=1
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 03 Jan 2016 15:12:40 GMT
- request:
    method: get
    uri: https://csi.gstatic.com/csi?action=map2&e=10_1_0,10_2_0,11_1_0,11_4_0,11_5_0,11_7_0,11_8_0,11_9_0,11_10_0,11_11_0,11_12_0,11_13_0,11_14_U,11_15_0,11_16_0&firstmap=true&hadviewport=true&hdpi=false&libraries=places&mob=true&rt=tilesloaded.632,allpixels.632&s=mapsapi3&size=994x384&staticmap=false&v=2&v3v=23.3
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 204
      message: No Content
    headers:
      Last-Modified:
      - Wed, 21 Jan 2004 19:51:30 GMT
      Content-Type:
      - image/gif
      Alternate-Protocol:
      - 443:quic,p=1
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 03 Jan 2016 15:12:40 GMT
- request:
    method: get
    uri: https://csi.gstatic.com/csi?action=map2&e=10_1_0,10_2_0,11_1_0,11_4_0,11_5_0,11_7_0,11_8_0,11_9_0,11_10_0,11_11_0,11_12_0,11_13_0,11_14_U,11_15_0,11_16_0&firstmap=true&hadviewport=true&hdpi=false&libraries=places&mob=true&rt=firsttile.632,firstpixel.632&s=mapsapi3&size=994x384&staticmap=false&v=2&v3v=23.3
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 204
      message: No Content
    headers:
      Last-Modified:
      - Wed, 21 Jan 2004 19:51:30 GMT
      Content-Type:
      - image/gif
      Alternate-Protocol:
      - 443:quic,p=1
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 03 Jan 2016 15:12:40 GMT
- request:
    method: get
    uri: https://csi.gstatic.com/csi?action=apiboot2&e=10_1_0,10_2_0,11_1_0,11_4_0,11_5_0,11_7_0,11_8_0,11_9_0,11_10_0,11_11_0,11_12_0,11_13_0,11_14_U,11_15_0,11_16_0&libraries=places&rt=main.13&s=mapsapi3&v=2&v3v=23.3
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 204
      message: No Content
    headers:
      Last-Modified:
      - Wed, 21 Jan 2004 19:51:30 GMT
      Content-Type:
      - image/gif
      Alternate-Protocol:
      - 443:quic,p=1
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 03 Jan 2016 15:20:22 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/gen_204?cad=host:127.0.0.1:57316,v:23,r:1,mt:m,c:51.567508,-0.182308,sp:0.08195x0.34126,size:994x384,relsize:0.49,token:76pw7tzete,src:apiv3,ts:yoq9s1&ev=api_viewport&target=api
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - image/gif
      Alternate-Protocol:
      - 443:quic,p=1
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 03 Jan 2016 15:20:22 GMT
[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/js/AuthenticationService.Authenticate?1shttp://127.0.0.1:57316/&callback=_xdc_._d1x6wy&token=68133
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=UTF-8
      Content-Disposition:
      - attachment
      Alternate-Protocol:
      - 443:quic,p=1
    body:
      encoding: UTF-8
      string: "/**/_xdc_._d1x6wy && _xdc_._d1x6wy( [1,null,0] )"
  recorded_at: Sun, 03 Jan 2016 15:20:22 GMT
[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/gen_204?cad=host:127.0.0.1:57316,v:23,r:1,t:501,smni:2,src:apiv3,token:76pw7tzete,ts:yoqah3&ev=api_maprft&target=api
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - image/gif
      Alternate-Protocol:
      - 443:quic,p=1
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 03 Jan 2016 15:20:23 GMT
[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/gen_204?cad=host:127.0.0.1:35645,v:23,r:1,mt:m,c:51.567508,-0.182308,sp:0.08195x0.34126,size:994x384,relsize:0.49,token:8s1e9opubl,src:apiv3,ts:yoqs7j&ev=api_viewport&target=api
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - image/gif
      Alternate-Protocol:
      - 443:quic,p=1
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 03 Jan 2016 15:20:46 GMT
[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/js/AuthenticationService.Authenticate?1shttp://127.0.0.1:35645/&callback=_xdc_._kcvps2&token=101833
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=UTF-8
      Content-Disposition:
      - attachment
      Alternate-Protocol:
      - 443:quic,p=1
    body:
      encoding: UTF-8
      string: "/**/_xdc_._kcvps2 && _xdc_._kcvps2( [1,null,0] )"
  recorded_at: Sun, 03 Jan 2016 15:20:46 GMT
[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/gen_204?cad=host:127.0.0.1:35645,v:23,r:1,t:501,smni:2,src:apiv3,token:8s1e9opubl,ts:yoqsu0&ev=api_maprft&target=api
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - image/gif
      Alternate-Protocol:
      - 443:quic,p=1
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 03 Jan 2016 15:20:47 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/gen_204?cad=host:127.0.0.1:58005,v:23,r:1,mt:m,c:51.567508,-0.182308,sp:0.08195x0.34126,size:994x384,relsize:0.49,token:69fn7ltzgb,src:apiv3,ts:0edcfz&ev=api_viewport&target=api
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - image/gif
      Alternate-Protocol:
      - 443:quic,p=1
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 04 Jan 2016 20:05:55 GMT
[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/js/AuthenticationService.Authenticate?1shttp://127.0.0.1:58005/&callback=_xdc_._omz2qw&token=78376
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=UTF-8
      Content-Disposition:
      - attachment
      Alternate-Protocol:
      - 443:quic,p=1
    body:
      encoding: UTF-8
      string: "/**/_xdc_._omz2qw && _xdc_._omz2qw( [1,null,0] )"
  recorded_at: Mon, 04 Jan 2016 20:05:55 GMT
[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/gen_204?cad=host:127.0.0.1:58005,v:23,r:1,t:501,smni:2,src:apiv3,token:69fn7ltzgb,ts:0edd1p&ev=api_maprft&target=api
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - image/gif
      Alternate-Protocol:
      - 443:quic,p=1
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 04 Jan 2016 20:05:56 GMT
[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/gen_204?cad=host:127.0.0.1:46603,v:23,r:1,mt:m,c:51.567508,-0.182308,sp:0.08195x0.34126,size:994x384,relsize:0.49,token:2vvn7h01f1,src:apiv3,ts:0ee7ir&ev=api_viewport&target=api
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - image/gif
      Alternate-Protocol:
      - 443:quic,p=1
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 04 Jan 2016 20:06:35 GMT
[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/js/AuthenticationService.Authenticate?1shttp://127.0.0.1:46603/&callback=_xdc_._mkwhws&token=26123
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=UTF-8
      Content-Disposition:
      - attachment
      Alternate-Protocol:
      - 443:quic,p=1
    body:
      encoding: UTF-8
      string: "/**/_xdc_._mkwhws && _xdc_._mkwhws( [1,null,0] )"
  recorded_at: Mon, 04 Jan 2016 20:06:36 GMT
[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/gen_204?cad=host:127.0.0.1:46603,v:23,r:1,t:501,smni:2,src:apiv3,token:2vvn7h01f1,ts:0ee88y&ev=api_maprft&target=api
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - image/gif
      Alternate-Protocol:
      - 443:quic,p=1
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 04 Jan 2016 20:06:36 GMT
- request:
    method: post
    uri: https://geo.query.yahoo.com/v1/public/yql?yhlBTMS=1451938062600&yhlCT=2&yhlClient=rapid&yhlClientVer=3.29.1&yhlCompressed=0&yhlRnd=PDRA27V9A3Qg6Bz0&yhlS=2023538075&yhlVer=2
    body:
      encoding: UTF-8
      string: q=select%20*%20from%20x%20where%20a%20%3D%20'%7B%22bp%22%3A%7B%22_pl%22%3A1%2C%22A_v%22%3A%223.29.1%22%2C%22test%22%3A%22901%22%2C%22_bt%22%3A%22rapid%22%2C%22A_pr%22%3A%22https%22%2C%22A_tzoff%22%3A1%7D%2C%22r%22%3A%5B%7B%22t%22%3A%22lv%22%2C%22s%22%3A%222023538075%22%2C%22pp%22%3A%7B%22A_sid%22%3A%22v1sbhdGGrVb1q3st%22%2C%22_w%22%3A%22www.yahoo.com%2F%22%2C%22pt%22%3A%221%22%2C%22mrkt%22%3A%22us%22%2C%22authfb%22%3A0%2C%22f%22%3A0%2C%22rid%22%3A%22agb0uktb8ib5b%22%2C%22colo%22%3A%22bf1%22%2C%22err%22%3A%220%22%2C%22err_url%22%3A%220%22%2C%22A_am%22%3A%221%22%7D%2C%22_ts%22%3A1451938062%2C%22lv%22%3A%5B%5D%7D%5D%2C%22yrid%22%3A%22%22%2C%22optout%22%3A%220%22%2C%22nol%22%3A%220%22%7D'
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Yql-Host:
      - engine106.yql.bf1.yahoo.com
      Content-Type:
      - text/plain;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <query xmlns:yahoo="http://www.yahooapis.com/v1/base.rng" yahoo:count="1" yahoo:created="2016-01-04T20:07:43Z" yahoo:lang="en-US"><results><result>0 ywamob, 1 geo. 1 geo, 0 ywa.</result></results></query><!-- total: 4 -->
        <!-- engine106.yql.bf1.yahoo.com -->
  recorded_at: Mon, 04 Jan 2016 20:07:43 GMT
- request:
    method: get
    uri: https://maps.gstatic.com/mapfiles/openhand_8_8.cur
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - image/bmp
      Last-Modified:
      - Sun, 01 Apr 2012 21:37:22 GMT
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        AAACAAEAICACAAgACAAwAQAAFgAAACgAAAAgAAAAQAAAAAEAAQAAAAAAAAEA
        AAAAAAAAAAAAAgAAAAAAAAAAAAAA////AAAAAAAAAAAAAAAAAAAAAAAAAAAA
        AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD
        8AAAA/AAAAfwAAAP+AAAH/gAAB/8AAA//AAAd/wAAGf+AAAH9gAADbYAAA2y
        AAAZsAAAGbAAAAGAAAAAAAAA////////////////////////////////////
        //////////////////////////////////////////////////gH///4B///
        8Af//+AD///AA///wAH//4AB//8AAf//AAD//5AA///gAP//4AD//8AF///A
        B///5A////5///8=
  recorded_at: Mon, 04 Jan 2016 20:07:44 GMT
[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/js/ViewportInfoService.GetViewportInfo?1d51.43885364728168&1d51.6928929117497&1m2&1m6&2d-0.6883644585584534&2d0.32779259931362503&2m2&2u12&4ssl-SI&5e0&6sm@333000000&7b0&8e0&9b0&callback=_xdc_._5llyo0&token=117155
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=UTF-8
      Content-Disposit[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/gen_204?cad=host:127.0.0.1:34094,v:23,r:1,mt:m,c:51.567508,-0.182308,sp:0.08195x0.33680,size:981x384,relsize:0.80,token:47xo8zoloo,src:apiv3,ts:0efols&ev=api_viewport&target=api
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - image/gif
      Alternate-Protocol:
      - 443:quic,p=1
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 04 Jan 2016 20:07:44 GMT
- request:
    method: get
    uri: https://fonts.gstatic.com/s/roboto/v15/zN7GBFwfMP4uA6AR0HCoLQ.ttf
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - font/ttf
      Last-Modified:
      - Wed, 14 Jan 2015 22:47:37 GMT
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        AAEAAAASAQAABAAgR0RFRgUwBPIAAHGoAAAATEdQT1PO9uRJAABx9AAADQ5H
        U1VClCaeUgAAfwQAAACIT1MvMqCnsa[...]
- request:
    method: get
    uri: https://csi.gstatic.com/csi?action=map2&e=10_1_0,10_2_0,11_1_0,11_4_0,11_5_0,11_7_0,11_8_0,11_9_0,11_10_0,11_11_0,11_12_0,11_13_0,11_14_U,11_15_0,11_16_0&firstmap=true&hadviewport=true&hdpi=false&libraries=places&mob=false&rt=visreq.232&s=mapsapi3&size=981x384&staticmap=false&v=2&v3v=23.3
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 204
      message: No Content
    headers:
      Last-Modified:
      - Wed, 21 Jan 2004 19:51:30 GMT
      Content-Type:
      - image/gif
      Alternate-Protocol:
      - 443:quic,p=1
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 04 Jan 2016 20:07:45 GMT
- request:
    method: get
    uri: https://fonts.gstatic.com/s/roboto/v15/RxZJdnzeo3R5zSexge8UUaCWcynf_cDxXwCLxiixG1c.ttf
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - font/ttf
      Last-Modified:
      - Wed, 14 Jan 2015 22:47:37 GMT
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        AAEAAAARAQAABAAQR1BPU0IL74MAAHGsAAANEEdTVUKUJp5SAAB+vAAAAIhP
        Uy8yoQuxt[...]
- request:
    method: get
    uri: https://mts1.googleapis.com/maps/vt?callback=_xdc_._nr35fb&pb=!1m4!1m3!1i12!2i2044!3i1360!1m4!1m3!1i12!2i2044!3i1361!1m4!1m3!1i12!2i2045!3i1360!1m4!1m3!1i12!2i2045!3i1361!1m4!1m3!1i12!2i2046!3i1360!1m4!1m3!1i12!2i2046!3i1361!1m4!1m3!1i12!2i2047!3i1360!1m4!1m3!1i12!2i2047!3i1361!2m3!1e0!2sm!3i333213898!3m9!2ssl-SI!3sUS!5e18!12m1!1e47!12m3!1e37!2m1!1ssmartmaps!4e3!12m1!5b1&token=12591
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=UTF-8
      Content-Disposition:
      - attachment; filename="f.txt"
      Alternate-Protocol:
      - 443:quic,p=1
    body:
      encoding: UTF-8
      string: /* API Response */ _xdc_._nr35fb && _xdc_._nr35fb([{"id":"twvwvwvwvvtt","zrange":[12,12],"layer":"m@333213898"},{"id":"twvwvwvwvvtu","zrange":[12,12],"layer":"m@333213898"},{"id":"twvwvwvwvvtv","zrange":[12,12],"layer":"m@333213898"},{"id":"twvwvwvwvvtw","zrange":[12,12],"layer":"m@333213898"},{"id":"twvwvwvwvvvt","base":[1073348608,713172992],"zrange":[12,12],"layer":"m@333213898","features":[{"id":"9549706922932907218","a":[0,0],"bb":[-89,-7,-6,8],"c":"{\"1\":{\"title\":\"White
        Hart Lane\"},\"4\":{\"type\":1}}"}]},{"id":"twvwvwvwvvvu","base":[1072984064,713977856],"zrange":[12,12],"layer":"m@333213898","features":[{"id":"3436696222068785831","a":[0,0,1072984064,713977856,1072984064,713977856],"bb":[-7,-7,7,7,-7,-7,7,7,-7,-7,7,7,6,-7,109,8],"c":"{\"1\":{\"title\":\"The
        British Museum\"},\"4\":{\"type\":1}}"},{"id":"619313186053167294","a":[-180224,-114688],"bb":[-34,-13,34,2,-13,-2,13,13],"c":"{\"1\":{\"title\":\"The
        Regent's Park\"},\"4\":{\"type\":1}}"}]},{"id":"twvwvwvwvvvv","base":[1073348608,713172992],"zrange":[12,12],"layer":"m@333213898","features":[{"id":"9549706922932907218","a":[0,0,1073348608,713172992,1073348608,713172992],"bb":[-7,-7,7,7,-7,-7,7,7,-7,-7,7,7,-89,-7,-6,8],"c":"{\"1\":{\"title\":\"White
        Hart Lane\"},\"4\":{\"type\":1}}"}]},{"id":"twvwvwvwvvvw","zrange":[12,12],"layer":"m@333213898"}])
  recorded_at: Mon, 04 Jan 2016 20:07:45 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/js/AuthenticationService.Authenticate?1shttp://127.0.0.1:34094/&callback=_xdc_._sym3ux&token=12565
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=UTF-8
      Content-Disposition:
      - attachment
      Alternate-Protocol:
      - 443:quic,p=1
    body:
      encoding: UTF-8
      string: "/**/_xdc_._sym3ux && _xdc_._sym3ux( [1,null,0] )"
  recorded_at: Mon, 04 Jan 2016 20:07:45 GMT
- request:
    method: get
    uri: https://mts0.googleapis.com/maps/vt?pb=!1m5!1m4!1i12!2i2046!3i1360!4i256!2m3!1e0!2sm!3i333213898!3m9!2ssl-SI!3sUS!5e18!12m1!1e47!12m3!1e37!2m1!1ssmartmaps!4e0
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - image/png
      Alternate-Protocol:
      - 443:quic,p=1
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        iVBORw0KGgoAAAANS[...]
[...]
- request:
    method: get
    uri: https://csi.gstatic.com/csi?action=map2&e=10_1_0,10_2_0,11_1_0,11_4_0,11_5_0,11_7_0,11_8_0,11_9_0,11_10_0,11_11_0,11_12_0,11_13_0,11_14_U,11_15_0,11_16_0&firstmap=true&hadviewport=true&hdpi=false&libraries=places&mob=false&rt=visres.916&s=mapsapi3&size=981x384&staticmap=false&v=2&v3v=23.3
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 204
      message: No Content
    headers:
      Last-Modified:
      - Wed, 21 Jan 2004 19:51:30 GMT
      Content-Type:
      - image/gif
      Alternate-Protocol:
      - 443:quic,p=1
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 04 Jan 2016 20:07:45 GMT
- request:
    method: get
    uri: https://csi.gstatic.com/csi?action=map2&e=10_1_0,10_2_0,11_1_0,11_4_0,11_5_0,11_7_0,11_8_0,11_9_0,11_10_0,11_11_0,11_12_0,11_13_0,11_14_U,11_15_0,11_16_0&firstmap=true&hadviewport=true&hdpi=false&libraries=places&mob=false&rt=firsttile.967,firstpixel.967&s=mapsapi3&size=981x384&staticmap=false&v=2&v3v=23.3
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 204
      message: No Content
    headers:
      Last-Modified:
      - Wed, 21 Jan 2004 19:51:30 GMT
      Content-Type:
      - image/gif
      Alternate-Protocol:
      - 443:quic,p=1
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 04 Jan 2016 20:07:45 GMT
[...]
- request:
    method: get
    uri: https://csi.gstatic.com/csi?action=map2&e=10_1_0,10_2_0,11_1_0,11_4_0,11_5_0,11_7_0,11_8_0,11_9_0,11_10_0,11_11_0,11_12_0,11_13_0,11_14_U,11_15_0,11_16_0&firstmap=true&hadviewport=true&hdpi=false&libraries=places&mob=false&rt=tilesloaded.974,allpixels.974&s=mapsapi3&size=981x384&staticmap=false&v=2&v3v=23.3
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 204
      message: No Content
    headers:
      Last-Modified:
      - Wed, 21 Jan 2004 19:51:30 GMT
      Content-Type:
      - image/gif
      Alternate-Protocol:
      - 443:quic,p=1
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 04 Jan 2016 20:07:45 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/gen_204?cad=host:127.0.0.1:34094,v:23,r:1,t:513,smni:2,src:apiv3,token:47xo8zoloo,ts:0efpr5&ev=api_maprft&target=api
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - image/gif
      Alternate-Protocol:
      - 443:quic,p=1
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 04 Jan 2016 20:07:46 GMT
- request:
    method: post
    uri: https://shavar.services.mozilla.com/downloads?appver=43.0&client=Firefox&pver=2.2
    body:
      encoding: UTF-8
      string: |
        mozstd-track-digest256;
        mozstd-trackwhite-digest256;
    headers:
      Content-Type:
      - text/plain
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/octet-stream
    body:
      encoding: UTF-8
      string: |
        n:3600
        i:mozstd-track-digest256
        u:tracking-protection.cdn.mozilla.net/mozstd-track-digest256/1450395423
        i:mozstd-trackwhite-digest256
        u:tracking-protection.cdn.mozilla.net/mozstd-trackwhite-digest256/1450404423
  recorded_at: Mon, 04 Jan 2016 20:07:46 GMT
[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/gen_204?cad=host:127.0.0.1:33754,v:23,r:1,mt:m,c:51.567508,-0.182308,sp:0.08195x0.33680,size:981x384,relsize:0.80,token:7b96cas87q,src:apiv3,ts:0ei5um&ev=api_viewport&target=api
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 204
[...]
