---
http_interactions:
- request:
    method: get
    uri: http://www.yahoo.com/
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Location:
      - https://www.yahoo.com/
      Content-Type:
      - text/html
      Content-Language:
      - en
      Y-Trace:
      - BAEAQAAAAAC3x3RVOS4I0wAAAAAAAAAAQmlfOau6INMAAAAAAAAAAAAFKG6d2h.0AAUobp3aJsP1VDqAAAAAAA--
    body:
      encoding: UTF-8
      string: |
        <HTML>
        <HEAD>
        <TITLE>Error</TITLE>
        </HEAD>

        <BODY BGCOLOR="white" FGCOLOR="black">
        <!-- status code : 301 -->
        <!-- Error: GET -->
        <!-- host machine: ir9.fp.ir2.yahoo.com -->
        <!-- timestamp: 1451830443.000 -->
        <!-- url: http://www.yahoo.com/-->
        <H1>Error</H1>
        <HR>

        <FONT FACE="Helvetica,Arial"><B>
        Description: Could not process this "GET" request.
        </B></FONT>
        <HR>
        </BODY>
  recorded_at: Sun, 03 Jan 2016 14:14:03 GMT
- request:
    method: get
    uri: https://www.yahoo.com/
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Y-Trace:
      - BAEAQAAAAAD23RAwDCLk9AAAAAAAAAAATCJMalg2hgIAAAAAAAAAAAAFKG6d3pMdAAUobp3h7bPxM3ciAAAAAA--
    body:
      encoding: UTF-8
      string: "<!DOCTYPE html> <html lang=\"en-US\" class=\"dev-desktop uni-purple-border
        ua-wk ua-unknown ua-wk534 ua-safari  bkt901 https mast-enabled  uni-dark-purple
        sasb-trendingnow\" style=\"\"> <!-- m2 template  --> <head> <meta http-equiv=\"Content-Type\"
        content=\"text/html; charset=utf-8\"> <meta http-equiv=\"x-dns-prefetch-control\"
        content=\"on\"><link rel=\"dns-prefetch\" href=\"//s.yimg.com\"><link rel=\"dns-prefetch\"
        href=\"//y.analytics.yahoo.com\"><link rel=\"dns-prefetch\" href=\"//geo.query.yahoo.com\"><link
        rel=\"dns-prefetch\" href=\"//csc.beap.bc.yahoo.com\"> <title>Yahoo</title>
        <meta http-equiv=\"X-UA-Compatible\" content=\"chrome=1\"> <meta name=\"description\"
        content=\"A new welcome to Yahoo. The new Yahoo experience makes it easier
        to discover the news and information that you care about most. It's the web
        ordered for you.\"> <meta name=\"google-site-verification\" content=\"eu72AiS151ZxLrT4QF9rqvtVxIa4OjhSTBLLuH8YKok\"
        />  <meta property=\"og:title\" content=\"Yahoo\" /> <meta property=\"og:type\"
        conte[...]
- request:
    method: get
    uri: https://www.mozilla.org/en-US/firefox/43.0/firstrun/learnmore/
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
      X-Backend-Server:
      - bedrock4.webapp.scl3.mozilla.com
      X-Clacks-Overhead:
      - GNU Terry Pratchett
    body:
      encoding: UTF-8
      string: "\n<!doctype html>\n<html class=\"windows x86 no-js\" lang=\"en\" dir=\"ltr\"
        data-latest-firefox=\"43.0.3\" data-esr-versions=\"38.5.2\">\n  <head>\n    <meta
        charset=\"utf-8\">\n    <script type=\"text/javascript\" src=\"/media/js/site-bundle.6009f70fa7b1.js\"
        charset=\"utf-8\"></script>              \n<!--\n             _.-~-.\n           7''
        \ Q..\\\n        _7         (_\n      _7  _/    _q.  /\n    _7 . ___  /VVvv-'_
        \                                           .\n   7/ / /~- \\_\\\\      '-._
        \    .-'                      /       //\n  ./ ( /-~-/||'=.__  '::. '-~''
        {             ___   /  //     ./{\n V   V-~-~| ||   __''_   ':::.   ''~-~.[...]
- request:
    method: get
    uri: https://s.yimg.com/os/mit/media/p/common/images/favicon_new-7483e38.svg
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - image/svg+xml
      Etag:
      - '"YM:1:107c1360-f009-4e32-a33b-a130d7a214b2000515f9d03a9f92"'
      Last-Modified:
      - Wed, 13 May 2015 17:19:28 GMT
      X-Ysws-Request-Id:
      - 07a4a897-f497-4610-86b2-5c720deb6054
      X-Ysws-Visited-Replicas:
      - gops.use45.mobstor.vip.bf1.yahoo.com
      Y-Trace:
      - BAEAQAAAAABHez2bllmd7wAAAAAAAAAAGmCpdx4MJaQAAAAAAAAAAAAFKIesELn.AAUoh6wQurepMlYwAAAAAA--
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n<!-- Generator: Adobe
        Illustrator 16.0.4, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->\r\n<!DOCTYPE
        svg PUBLIC \"-//W3C//DTD SVG 1.1//EN\" \"http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd\">\r\n<svg
        version=\"1.1\" [...]
- request:
    method: get
    uri: https://s.yimg.com/rz/l/favicon.ico
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - image/x-icon
      Etag:
      - '"YM:1:479c4861-0e10-4e68-b016-45e420d99d26000528752058340f"'
      Last-Modified:
      - Sun, 03 Jan 2016 22:00:02 GMT
      X-Ysws-Request-Id:
      - b220bc32-507e-4ae6-bdac-446150837c8c
      X-Ysws-Visited-Replicas:
      - gops[...]
- request:
    method: get
    uri: https://www.mozilla.org/favicon.ico
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - image/x-icon
      X-Backend-Server:
      - bedrock1.webapp.scl3.mozilla.com
      Etag:
      - '"1536"'
      Last-Modified:
      - Mon, 18 Nov 2013 17:00:08 GMT
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        AAABAAIAEBAAAAEAIABoBAAAJgAAACA[...]
- request:
    method: get
    uri: https://www.mozilla.org/media/img/firefox/favicon.dc6635050bf5.ico
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - image/vnd.microsoft.icon
      Last-Modified:
      - Wed, 01 Jan 2014 00:00:00 GMT
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        AAABAAMAEBAAAAEAIABoBAAANgAAACAgAAABACAAqBAAAJ4EAAAwMAAAAQAg
        AKglAABGFQAAK[...]
- request:
    method: get
    uri: https://www.mozilla.org/media/img/firefox/favicon-196.223e1bcaf067.png
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - image/png
      X-Backend-Server:
      - bedrock5.webapp.scl3.mozilla.com
      Last-Modified:
      - Sat, 28 Feb 2015 19:57:51 GMT
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        iVBORw0KGgoAAAANSUhEUgAAAMQA[...]
- request:
    method: post
    uri: https://shavar.services.mozilla.com/downloads?appver=43.0&client=Firefox&pver=2.2
    body:
      encoding: UTF-8
      string: |
        mozstd-track-digest256;
        mozstd-trackwhite-digest256;
    headers:
      Content-Type:
      - text/plain
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/octet-stream
    body:
      encoding: UTF-8
      string: |
        n:3600
        i:mozstd-track-digest256
        u:tracking-protection.cdn.mozilla.net/mozstd-track-digest256/1450395423
        i:mozstd-trackwhite-digest256
        u:tracking-protection.cdn.mozilla.net/mozstd-trackwhite-digest256/1450404423
  recorded_at: Tue, 05 Jan 2016 19:42:56 GMT
- request:
    method: get
    uri: https://tracking-protection.cdn.mozilla.net/mozstd-track-digest256/1450395423
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 0
      message: 
    headers: {}
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 05 Jan 2016 19:42:56 GMT
recorded_with: VCR 3.0.1
